{
  devices: {
    // List of device ids or uuids, e.g.
    ids: [
      "4926f66b-e109-4245-8380-2a575fe35ea8"
    ]
  },
  adapter: {
    // Set this to a valid api token.
    api_token: null
  }
}
